* {
    margin: 0;
    padding: 0;
}
.row {
    display: flex;
    
}
.col {
    color: white;
    margin: 0px 10px 10px 0px;
    padding: 30px;
    background-color: #5f9fa0;
    flex: 1;
}

.col-2 {
    padding: 30px;
    margin: 0px 10px 10px 0px;
    color: white;
    background-color: #5f9fa0;
    flex: 2;
}

.col-3 {
    padding: 30px;
    margin: 0px 10px 10px 0px;
    color: white;
    background-color: #5f9fa0;
    flex: 3;
}